/* Reset */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1 {
  font-size: unset;
  font-weight: unset;
  margin: unset;
}

/* Typography */
:root {
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
}

body {
  font-size: 1.4rem;
}

/* Components */
.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.circle {
  margin: auto;
  width: 300px;
  aspect-ratio: 1/1;
  color: rebeccapurple;
  position: relative;
}

.circle-title {
  font-size: 3.2rem;
  font-weight: 600;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wheel {
  position: absolute;
  inset: 0;
}

.wheel-item {
  border-top: 10px solid red;

  width: 60px;
  height: 60px;

  /* 모든 wheel-item이 몽땅 가운데로 옮겨지게! */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
}

/* 모든 wheel-item은 화면중간에서 시작!, rotate로 진행 방향을 틀어서 -200px만큼 이동! */
.wheel-item:nth-child(1) { transform: rotate(315deg) translateY(-200px) rotate(-315deg); }
.wheel-item:nth-child(2) { transform: rotate(270deg) translateY(-200px) rotate(-270deg); }
.wheel-item:nth-child(3) { transform: rotate(225deg) translateY(-200px) rotate(-225deg); }
.wheel-item:nth-child(4) { transform: rotate(180deg) translateY(-200px) rotate(-180deg); }
.wheel-item:nth-child(5) { transform: rotate(135deg) translateY(-200px) rotate(-135deg); }
.wheel-item:nth-child(6) { transform: rotate(90deg)  translateY(-200px) rotate(-90deg); }
.wheel-item:nth-child(7) { transform: rotate(45deg)  translateY(-200px) rotate(-45deg); }
.wheel-item:nth-child(8) { transform: rotate(0deg)   translateY(-200px) rotate(0deg); }